@using InstaServer.Models;
@model BrowserCookie
@{
    ViewData["Title"] = "BrowserConfigs";
}
<section class="col-md-5">
    <h3>BrowserConfigs</h3>
    <h5 class="text-danger">@TempData["Error"]</h5>
    <h5 class="text-success">@TempData["Success"]</h5>
    <form asp-controller="BrowserCookie" asp-action="Edit" method="post">
        <div class="form-group">
            <label for="SessionId">SessionId</label>
            <input asp-for="SessionId" type="text" value="@Model.SessionId" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Ig_did">Ig_did</label>
            <input asp-for="Ig_did" type="text" value="@Model.Ig_did" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Mid">Mid</label>
            <input asp-for="Mid" type="text" value="@Model.Mid" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Ig_nrcb">Ig_nrcb</label>
            <input asp-for="Ig_nrcb" type="text" value="@Model.Ig_nrcb" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Shbid">Shbid</label>
            <input asp-for="Shbid" type="text" value="@Model.Shbid" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Rur">Rur</label>
            <input asp-for="Rur" type="text" value="@Model.Rur" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Shbts">Shbts</label>
            <input asp-for="Shbts" type="text" value="@Model.Shbts" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Csrftoken">Csrftoken</label>
            <input asp-for="Csrftoken" type="text" value="@Model.Csrftoken" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Ds_user_id">Ds_user_id</label>
            <input asp-for="Ds_user_id" type="text" value="@Model.Ds_user_id" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>